@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-screen-xl px-8;
  }
}

body {
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
}

.main-container {
  padding: 0 calc((100% - 1440px) / 2) 0 calc((100% - 1440px) / 2);

  @media (max-width: 1440px) {
    padding: 0 30px 0 30px;
  }
}
